 <% if @user.livre.nil? %>
    <div id="myDialog" class="flora" title="Sondage">
      <p>Voulez vous lire plus de livres ?</p>
    </div>
      	<%= form_tag({:action => 'update_livres', :user_id => @user.id}, :name => "form_livres"  ,:id => "ok") do %>
	      <%= number_field_tag :rep, in: 1..50, step: 1 %>
	<% end %>
<script> document.getElementById('ok').style.display='none'; </script>
 <% end %> 
<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nom %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>Age</strong> <%= age_utilisateur @user  %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
  <tr>
  <td class="main">
  <%= form_tag({:action => 'upload_cv', :id => "add_cv", :user_id => @user.id}, :multipart => true) do %>
	    <div class="field">
	      <%= label_tag "Titre du ficher" %><br />
	      <%= text_field_tag :name %><br />
	      <%= label_tag "Téléchargez votre cv :" %><br />
	      <%= file_field_tag :attachment %><br />
	    </div>
	    <div class="actions">
	      <%= submit_tag "Ajouter" %>
	    </div>
	<% end %>
  </td>
  </tr>
  <% if @user.nbr_film.nil? %>
  <tr>
    <td class="main">
	<%= form_tag({:action => 'update_nbr_films', :user_id => @user.id}, :id => "edit_nbr") do %>
	    <div class="field">
	      <%= label_tag "Nombre de films vu par semaine" %><br />
	      <%= number_field_tag :nbr_film, in: 1..50, step: 1 %>
	    </div>
	    <div class="actions">
	      <%= submit_tag "Valider" %>
	    </div>
	<% end %>
    </td>
    <% end %>
  </tr>
  </table>