<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css">
   
    <script type="text/javascript">
     
      function oui() {
      
	document.getElementById("rep").value="1";
	document.form_livres.submit();
	$("#myDialog").dialog("close");
      }
      
      function non() {
	document.getElementById("rep").value="0";
	document.form_livres.submit();
	$("#myDialog").dialog("close");
      } 
      
    $(function() {
  // Allows user to click Enter key in text field and it will submit the dialog
       var dialogOpts = {
            modal : true,
            closeOnEscape : true,
            buttons : {
                "Oui !" : oui,
                "Non" :  non
            },
            autoOpen : true
        };
        $("#myDialog").dialog(dialogOpts);
    });
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <%= render 'layouts/header' %>
      </header>
      <section class="round">
	<% flash.each do |key, value| %>
	  <div class="flash <%= key%>"><%= value %></div>
	<% end%>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>